<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Доходы</h1>
    <div class="main-items row"></div>
</div>

<!-- модальное окно -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center pt-4 px-4">
                <h5 class="modal-title text-center" id="exampleModalLabel">
                    Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center pb-4">
                <button id="delete-category" type="button" class="btn btn-success">Да, удалить</button>
                <button id="edit-category" type="button" class="btn btn-danger" data-bs-dismiss="modal">Не
                    удалять</button>
            </div>
        </div>
    </div>
</div>